$black: #264653;
$main: #29c5ec;
$desc-text: #264653;

$default-spacing: 25px;
$default-border: 1px solid #ccc;

$border-radius: 2.5px;

@mixin title($mobile: false) {
	font-size: 1.7em;
	letter-spacing: 0.75px;
	font-weight: 900;
	margin-bottom: 25px;

	@if $mobile {
		font-size: 1.5em;
		margin-bottom: 15px;
	}
}

@mixin description($mobile: false, $align: center) {
	text-align: $align;
	opacity: 0.85;
	font-size: 1em;
	line-height: 33px;
	max-width: 350px;

	> span {
		color: $main;
	}

	@if $mobile {
		font-size: 0.9em;
		margin: 0 $default-spacing;
	}

	@media (min-width: 900px) {
		max-width: 500px;
	}
}

@mixin icon($size, $margin: true) {
	width: $size;
	background-size: cover;

	@if $margin {
		margin-bottom: 75px;
	}
}

@mixin button($mobile: false) {
	cursor: pointer;
	background: $main;
	color: #fff;
	font-weight: 500;
	letter-spacing: 0.35px;
	border-radius: $border-radius;

	box-shadow: 5px 5px 15px rgba($main, 0.5);

	padding: 10px 40px;
	transition: background 0.15s ease-in-out;

	font-size: 1em;

	@if $mobile {
		font-size: 0.85em;
	}

	&:hover {
		background: lighten($main, 10);
	}
}

@mixin shadow($color: $black, $quantity: 0.5) {
	box-shadow: 5px 5px 15px rgba($color, $quantity);
}

@mixin flex($justify: center, $align: center, $direction: column) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
	flex-direction: $direction;
}
